@import './variables.scss';

.cuisines {
  padding-top: 7em;
  width: 90vw;
  margin: auto;

  & h5 {
    margin-bottom: 2em;

    & a {
      color: $breamcrumb-color;
      font-size: 1.2rem;
      font-weight: 400;
    }

    & a:visited {
      color: rgba(92, 5, 92, 0.767);
    }
  }

  & h4 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2rem;
    color: inherit;
    text-shadow: $text-shadow;
  }

  & .cuisine_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
  }
}

@media (max-width: 44rem) {
  .cuisine_container {
    flex-direction: column;
  }
}
