@import './variables.scss';
// navigation bar styling goes here

.navbar {
  //   border: 2px solid red;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: $shadow;
  background-color: $white;
z-index:100;

  & .logo {
    height: 8vh;
    flex: 0.2;

    & a {
      height: 8vh;
      width: 50%;
      display: flex;
      align-items: center;
      & img {
        padding: 0.3em;

        height: 10vh;
        object-fit: contain;
      }

      & h1 {
        font-size: 2.5rem;
        color: $red;
      }
    }
  }
  & .links {
    padding-right: 0.5em;
    display: flex;

    & a {
      border: $border;
      border-radius: $border-radius;
      padding: 0.5em;
      margin-right: 0.5em;
      font-size: 1rem;
      display: flex;
      align-items: center;
      transition: $transition;
    }

    & a:hover {
      background-color: $accent-orange;
    }

    & .MuiSvgIcon-root {
      margin-right: 0.3em;
    }
  }

  & .search {
    flex: 0.5;
    height: 6vh;
    margin: 4em 2em;
    display: flex;
    align-items: center;
    color: $grey;
    border: $border;
    border-radius: $border-radius;

    & input {
      width: 90%;
      height: 6vh;
      font-size: 1.2rem;
      outline: none;
      padding-left: 0.5em;
      border: none;
      background: transparent;
    }
    & input::placeholder {
      color: $grey;
    }

    & .MuiSvgIcon-root {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 44rem) {
  input {
    min-width: 30vw;
  }
}

@media (max-width: 62rem) {
  .links .MuiSvgIcon-root {
    display: none;
  }
}
