@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$blue: rgb(2, 2, 44);
$white: #ffffff;
$grey: #d0d2d3;
$accent-orange: #ffbe00;
$red: #fe181d;
$shadow: 2px 4px 8px $grey;
$border-radius: 7px;
$border: 1px solid $grey;
$font: 'Source Sans Pro', sans-serif;
$transition: all 0.3s ease;
$breamcrumb-color: rgb(7, 7, 51);
$text-shadow: 0px 4px 4px $grey;
