@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 4px 8px #d0d2d3;
  background-color: #ffffff;

z-index:100;

}
.navbar .logo {
  height: 8vh;
  flex: 0.2;
}
.navbar .logo a {
  height: 8vh;
  width: 50%;
  display: flex;
  align-items: center;
}
.navbar .logo a img {
  padding: 0.3em;
  height: 10vh;
  object-fit: contain;
}
.navbar .logo a h1 {
  font-size: 2.5rem;
  color: #fe181d;
}
.navbar .links {
  padding-right: 0.5em;
  display: flex;
}
.navbar .links a {
  border: 1px solid #d0d2d3;
  border-radius: 7px;
  padding: 0.5em;
  margin-right: 0.5em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.navbar .links a:hover {
  background-color: #ffbe00;
}
.navbar .links .MuiSvgIcon-root {
  margin-right: 0.3em;
}
.navbar .search {
  flex: 0.5;
  height: 6vh;
  margin: 4em 2em;
  display: flex;
  align-items: center;
  color: #d0d2d3;
  border: 1px solid #d0d2d3;
  border-radius: 7px;
}
.navbar .search input {
  width: 90%;
  height: 6vh;
  font-size: 1.2rem;
  outline: none;
  padding-left: 0.5em;
  border: none;
  background: transparent;
}
.navbar .search input::placeholder {
  color: #d0d2d3;
}
.navbar .search .MuiSvgIcon-root {
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 44rem) {
  input {
    min-width: 30vw;
  }
}
@media (max-width: 62rem) {
  .links .MuiSvgIcon-root {
    display: none;
  }
}
.cuisines {
  padding-top: 6em;
  width: 90vw;
  margin: auto;
}
.cuisines h5 {
  margin-bottom: 2em;
  vertical-align: middle;
}
.cuisines h5 a {
  color: #070733;
  font-size: 1.2rem;
  font-weight: 400;
}
.cuisines h4 {
  text-align: center;
  padding-bottom: 1em;
  font-size: 2rem;
  color: inherit;
}
.cuisines .cuisine_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

@media (max-width: 44rem) {
  .cuisine_container {
    flex-direction: column;
  }
}
.food {
  padding: 0.5em 0;
  min-width: 30%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 8px #d0d2d3;
  border: 1px solid #d0d2d3;
  border-radius: 7px;
  position: relative;
  margin: 1em 0.5em;
  color: white;
  cursor: pointer;
}
.food p {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0.5em;
  background-color: rgba(0, 0, 0, 0.525);
}
.food p .MuiSvgIcon-root {
  margin-right: 0.3em;
}
.food p .MuiSvgIcon-root path {
  color: white;
}
.food p span {
  color: white;
}
.food h1 {
  position: absolute;
  bottom: 0;
  height: 100%;
  padding: 4em;
  color: white;
  visibility: none;
  z-index: -2;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.525);
  transition: all 0.3s ease;
}
.food:hover h1 {
  visibility: visible;
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #02022c;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 44rem) {
  html {
    font-size: 0.8rem;
    transition: all 0.3s ease;
  }
}

/*# sourceMappingURL=global.css.map */
